<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Activity Generator | Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Activity Generator</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="aboutus">About Us</a></li>
      </ul>
      

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">About Us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Activity Generator</h1>
        <div class="row center">
          <h5 class="header col s12 light">An ultra-customizable activity selector for anyone with time to spare</h5>
        </div>
        <div class="row center">
          <a href="/quiz2" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">take our quiz!</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="http://fistfuloftalent.com/wp-content/uploads/2017/01/maxresdefault.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">star</i></h2>
            <h5 class="center">Intensity</h5>

            <p class="light">We care about our users preferences, and that's why we offer three different intensity levels for you to choose from. This allows you to choose activities anywhere from taking a walk to going rock climbing.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">schedule</i></h2>
            <h5 class="center">Time</h5>

            <p class="light">We recognize that you're busy - you have things to do and places to be. With this in mind, we decided to allow our users to specifyd1how much spare time they have, and from there we provide you with an activity that fits your schedule perfectly.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">attach_money</i></h2>
            <h5 class="center">Cost</h5>

            <p class="light">Our goal is to cater to all the concerns that our users have - chief among those is often money, which is why we resolved to go one layer deeper. In addition to intensity and time, we added another option: cost.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4></h4>
          <p class="left-align light"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 light">Try it out yourself!</h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://climb-va.com/wp-content/uploads/2017/06/imgur-rock-climbing-larger-size.png" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"></h5>
          <p class="grey-text text-lighten-4"></p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>