<!DOCTYPE html>
<html>
    <head>
        <title>Activity Generator</title>
    </head>
    <body>
        <h3>How much activity would you like to do?</h3>
        
        <!--Lines 9-17 are coding for the first question-->
<input name="activity" value = "none" type = "radio">None</input>
            <br/>
            <br/>
<input name="activity" value = "little" type = "radio">A little</input>
            <br/>
             <br/>
<input name="activity" value = "lot" type = "radio">A lot</input>
            <br/>
             <br/>             

    <h3>How long do you want to do your activity?</h3>

<input name="time" value = "thirty" type = "radio">30 minutes-1 hour</input>
            <br/>
            <br/>
<input name="time" value = "one" type = "radio">1-2 hours</input>
            <br/>
             <br/>
<input name="time" value = "two" type = "radio">2+ hours</input>
            <br/>
             <br/>         
<h3>How much money would you like to spend?</h3>             
<input name="price" value = "free" type = "radio">Free</input>
            <br/>
            <br/>
<input name="price" value = "little" type = "radio">A little (<$20)</input>
            <br/>
             <br/>
<input name="price" value = "lot" type = "radio">A lot ($20+)</input>
            <br/>
             <br/>                         
<input type="submit" value="Continue">             
            
    </body>
</html>

